<script>
  $(function(){
    $.each($('a.actuator'), function(i, el){
      $(el).click(function(e){
        var action = $(el).parent().parent().find("select").val();
        var href = $(el).attr("href");
        var edit_href = href.split("/");
        edit_href[edit_href.length-1] = action;
        href = edit_href.join('/');
        console.log(edit_href);
        $(el).attr("href", href);
      });
    });
  });

</script>
<h1>Listing IoET Devices</h1>

<table class="table">
  <thead>
    <tr>
      <th>UUID</th>
      <th>Actuator type</th>
      <th>Metadata</th>
      <th>Last seen</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @iot_devices.each do |iot_device| %>
      <tr>
        <td><%= iot_device.uuid %></td>
        <td><%= iot_device.actuator_type %></td>
        <td><%= iot_device.metadata.to_s.html_safe %></td>
        <td><%= time_diff(iot_device.last_seen, Time.now) %></td>
        <% i = -1 %>
        <td><%= select("iot_device", "actuate", iot_device.metadata["actions"].collect {|p| i = i+1;  [p, i] }) %>
        </td>
        <td>
          <%= link_to 'Actuate', simulator_actuate_path(iot_device.id, 0), :class => "actuator btn btn-danger btn-xs" %></td>
        <td><%= link_to 'Show', iot_device %></td>
        <td><%= link_to 'Edit', edit_iot_device_path(iot_device) %></td>
        <td><%= link_to 'Destroy', iot_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iot device', new_iot_device_path %>
