<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @iot_device.uuid %>
</p>

<p>
  <strong>Actuator type:</strong>
  <%= @iot_device.actuator_type %>
</p>

<p>
  <strong>Metadata:</strong>
  <%= JSON.parse(@iot_device.metadata).to_s.html_safe %>
</p>

<p>
  <strong>Last seen:</strong>
  @<%= @iot_device.last_seen.strftime(" %I:%M:%S%P")  %>
  <%= time_diff(@iot_device.last_seen, Time.now) %>

<%= link_to 'Edit', edit_iot_device_path(@iot_device) %> |
<%= link_to 'Back', iot_devices_path %>
