<%= form_for @story_image,  :html => {:multipart => true} do |f| %>
  <% if @story_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story_image.errors.count, "error") %> prohibited this story_image from being saved:</h2>

      <ul>
      <% @story_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file %><br>
     <%= f.file_field :file %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :story_page_id%><br>
    <% f.number_field :story_page_id %>
    <%= select("story_image", "story_page_id", StoryPage.all.collect {|p| 
      [ "#{p.story.title} #{p.page_number}", p.id ] }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
