<h1>Listing story_modalities</h1>

<table>
  <thead>
    <tr>
      <th>Actuator</th>
      <th>Strength</th>
      <th>Story</th>
      <th>Page number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @story_modalities.each do |story_modality| %>
      <tr>
        <td><%= story_modality.actuator_id %></td>
        <td><%= story_modality.strength %></td>
        <td><%= story_modality.story_id %></td>
        <td><%= story_modality.story_page_id %></td>
        <td><%= link_to 'Show', story_modality %></td>
        <td><%= link_to 'Edit', edit_story_modality_path(story_modality) %></td>
        <td><%= link_to 'Destroy', story_modality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story modality', new_story_modality_path %>
