<h1>Listing stories</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cover</th>
      <th>Title</th>
      <th>Author</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= image_tag story.story_pages[0].story_images[0].file_url, :width => "100px" %></td>
        <td><%= story.title %></td>
        <td><%= story.author %></td>
        <td>
          <div class="btn-group">
          <%= link_to smart_story_composer_path(story, 1), :class => "btn btn-xs btn-danger" do %>
            <span class="glyphicon glyphicon-edit"></span> 
            Compose 
          <% end %>
       
           <%= link_to smart_story_register_path, :class=> "btn btn-primary btn-xs" do %>
              <span class="glyphicon glyphicon-screenshot"></span> &nbsp;Register
            <% end %> 
       
           <%= link_to smart_story_creater_path(story.id), :class=> "btn btn-xs btn-success" do %>
            <span class="glyphicon glyphicon-asterisk"></span> &nbsp;Create Story 
            <% end %> 
          </div>
        </td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
