<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flavor.name %>
</p>
<p>
  <strong>Type of Actuator:</strong>
  <% if @flavor.actuator %>
  	<%= link_to @flavor.actuator.name, actuator_path(@flavor.actuator) %>
  <% end %>
</p>
<p>
  <strong>Alpha:</strong>
  <%= @flavor.alpha %>
</p>
<p>
  <strong>Img:</strong>
  <%= image_tag(@flavor.img_url, :width => 200) if @flavor.img.present? %>
</p>

<p>
  <strong>Behaviors usable with this actuator:</strong>
  <ul>
  <% @flavor.behaviors.each do |behavior| %>
    <li><%= link_to behavior.name.humanize, behavior %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_flavor_path(@flavor) %>
<%= link_to 'Back', flavors_path %>
