<h1>SMAP Devices <span class="badge"><%= @devices.length %></span></h1>
<script type="text/javascript">
$(function(){
	$.each($(".update_actuator"), function(i,el){
		$(el).click(function(){
			var select = $(this).parent().parent().find("select");
			var uuidEl = $(this).parent().parent().find(".uuid");
			var uuid = uuidEl.html().trim();
			var current_val = select.val();
			console.log("Updating", uuid, current_val);
			$.get("/smap/get_status?uuid=" + uuid, function(data){
				console.log(data);
				select.val(data.state);
			});
		});
	});

	$.each($(".actuate_actuator"), function(i,el){
		// console.log(el);
		$(el).click(function(){
			var select = $(this).parent().parent().find("select");
			var uuidEl = $(this).parent().parent().find(".uuid");
			var uuid = uuidEl.html().trim();
			var state = select.val();
			console.log("Actuating");
			$.get("/smap/actuate?uuid=" + uuid + "&state=" + state, function(data){
				select.val(state);
			});
		});
	});
});


</script>
<table class="table table-striped">
	<tr> 
		<!-- "Path", "Properties" -->
		<% header = ["Name", "UUID", "Actuator", "","", "Metadata", "SmartStory_Metadata", "Path"] %>
		<% header.each do |h| %>
		<th>  
			<%= h %>
		</th> 
		<% end %>
	</tr>
	<% @devices.each do |d| %>
		<tr>
			<td> <%= if d["Metadata"] then d["Metadata"]["Name"] end %> 
				<%= button_tag 'Update', :class => "update_actuator btn btn-primary btn-xs" %>
        	</td>
        	<% if d["Actuator"] %>
        	<td class="uuid"> <%= d["uuid"] %> </td>
			 <td> <%= d["Actuator"] %> </td> 
			<td>
			<% if d["Actuator"]["States"] %>
				<%= select("smap_device", "actuate", d["Actuator"]["States"].map{|c| [c[1], c[0]]}) %>
        	<% elsif d["Actuator"]["Values"] %>
        		<% d["Actuator"]["Values"] %>
        		<%= select("smap_device", "actuate", d["Actuator"]["Values"].map{|c| [c, c]}) %>
        	<% end %>
        	</td>
        	<td>
        	<%= button_tag 'Actuate', :class => "actuate_actuator btn btn-danger btn-xs" %>
        	</td>
        	<% end %>
			<td> <%= d["Metadata"] %> </td>
			<td> <%= if d["Metadata"] then d["Metadata"]["SmartStoryBook"] end %> </td>
			<td> <%= d["Path"] %> </td>
			<!-- <td> <% d["Properties"] %> </td> -->
		</tr>
	<% end %>
</table>